---
import { getVehicles } from '../lib/vehicles';
import Branding from '../components/Home/Branding';
import CarPage from '../components/Car/CarPage';
import { useState } from 'react';
import DefaultLayout from '../layouts/DefaultLayout.astro';

// Fetch data server-side during build or SSR
const response = await getVehicles();
const vehicles = response?.vehicles || []; // Ensure vehicles is always an array// console.log(vehicles);
const count = response?.count || 0; // Ensure count is a number, fallback to 0
// const aggregateVehicle = { _count: { _all: vehicles.length } };

const BATCH_SIZE = 24;
---

<DefaultLayout>
	<div>
		<Branding logosClassName="fill-black" />
		<CarPage
			initialData={{ vehicles, count }}		/>
	</div>
</DefaultLayout>
