---
import { getVehicles } from '../lib/vehicles';
import Branding from '../components/Home/Branding';
import CarPage from '../components/Car/CarPage';
import { useState } from 'react';
import DefaultLayout from '../layouts/DefaultLayout.astro';

// Fetch data server-side during build or SSR
const vehicles = await getVehicles();
// console.log(vehicles);

// You can aggregate counts if needed here
// const aggregateVehicle = { _count: { _all: vehicles.length } };

const BATCH_SIZE = 24;
---

<DefaultLayout>
	<div>
		<Branding logosClassName="fill-black" />
		<CarPage
			initialData={{ vehicles }}		/>
	</div>
</DefaultLayout>
