---
import Branding from '../components/Home/Branding';
import CarPage from '../components/Car/CarPage';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { fetchDistinctFilters } from '@/lib/vehicles';

// 🚀 Fetch data server-side
const vehicleResponse = await fetch('http://localhost:4322/api/vehicles'); // Adjust API URL as needed
const { vehicles, count } = await vehicleResponse.json();
const filterResponse = await fetch('http://localhost:4322/api/fetchVehicleFilters');  // Fetch filters
const {initialFilters} = await filterResponse.json(); // Fetch filters

const BATCH_SIZE = 24;
---

<DefaultLayout>
	<div>
		<Branding logosClassName="fill-black" client:load />
		<CarPage client:load
				 initialData={{ vehicles, count }}
				 initialFilters={initialFilters} />
	</div>
</DefaultLayout>
