---
// Import components
import '../styles/global.css';
import DefaultLayout from "../layouts/DefaultLayout.astro";

import HeroSection from '../components/Home/HeroSection';
import BodyTypeSelector from '../components/Home/BodyTypeSelector';
import PopularMakes from '../components/Home/PopularMakes';
import HowItWorks from '@/components/Home/HowItWorks';
import Branding from '@/components/Home/Branding';
import ProvideServices from "@/components/Home/ProvideServices";
import CustomerSays from "@/components/Home/CustomerSays";
import DifferentApproach from "@/components/Home/DifferentApproach";
---

<DefaultLayout>
	<div class="w-full">
		<div class="grid">
			<img
				style="grid-area: 1/1;"
				class="h-screen"
				src="/assets/images/bg-image-2.jpg"
				alt="Find your Perfect vehicle!"
				loading="eager"
				width="1910"
				height="1080"
			/>

			<div style="grid-area: 1/1;" class="relative place-items-center">
				<Branding client:visible/>
				<HeroSection client:visible/>
				<div class="relative lg:translate-y-[-50%] lg:p-0">
					<BodyTypeSelector client:visible/>
				</div>

				<div class="my-10 flex flex-col gap-9">
					<PopularMakes client:visible />
					<ProvideServices client:visible />
					<HowItWorks client:visible />
					<CustomerSays client:visible />
					<DifferentApproach client:visible />
				</div>
			</div>
		</div>
	</div>
</DefaultLayout>