---
// Import components

import '../styles/global.css';
import DefaultLayout from "../layouts/DefaultLayout.astro";

import HeroSection from '../components/Home/HeroSection';
// import BodyTypeSelector from '../components/Home/BodyTypeSelector.astro';
// import { SEO } from '@/components/SEO/SEO.astro';
//
// // Client directive is used for client-side hydration
// import PopularMakes from '../components/Home/PopularMakes.astro';
// import ProvideServices from '../components/Home/ProvideServices.astro';
import HowItWorks from '@/components/Home/HowItWorks';
// import CustomerSays from '../components/Home/CustomerSays.astro';
// import DifferentApproach from '../components/Home/DifferentApproach.astro';

// Astro doesn't need useInView from react-intersection-observer
// We'll use Astro's own directive instead
---

<DefaultLayout>
	<div class="w-full">
		<div class="grid">
			<img
				style="grid-area: 1/1;"
				class="h-screen"
				src="/public/assets/images/bg-image-2.jpg"
				alt="Find your Perfect vehicle!"
				loading="eager"
				width="1910"
				height="1080"
			/>

			<div style="grid-area: 1/1;" class="relative place-items-center">
				<HeroSection client:load/>
				<div class="relative lg:translate-y-[-50%] lg:p-0">
					<!--<BodyTypeSelector />-->
				</div>

				<!-- Using Astro's own client directive for lazy loading -->
				<div class="my-10 flex flex-col gap-9">
					<!--<PopularMakes client:visible />-->
					<!--<ProvideServices client:visible />-->
					<HowItWorks client:visible />
					<!--<CustomerSays client:visible />-->
					<!--<DifferentApproach client:visible />-->
				</div>
			</div>
		</div>
	</div>
</DefaultLayout>