---
import Branding from '../components/Home/Branding';
import CarPage from '../components/Car/CarPage';
import DefaultLayout from '../layouts/DefaultLayout.astro';

const apiUrl = process.env.VERCEL_URL
	? `https://${process.env.VERCEL_URL}/api/vehicles`
	: import.meta.env.API_URL; // Fallback to local if not deployed
// 🚀 Fetch data server-side
const vehicleResponse = await fetch(apiUrl + 'vehicles'); // Adjust API URL as needed
const { vehicles, count } = await vehicleResponse.json();
const filterResponse = await fetch(apiUrl + 'fetchVehicleFilters');  // Fetch filters
const {initialFilters} = await filterResponse.json(); // Fetch filters

const BATCH_SIZE = 24;
---

<DefaultLayout>
	<div>
		<Branding logosClassName="fill-black" client:load />
		<CarPage client:load
				 initialData={{ vehicles, count }}
				 initialFilters={initialFilters} />
	</div>
</DefaultLayout>
