---
import '../styles/global.css';
import DefaultLayoutComponent from './DefaultLayout';
---
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Website</title>
</head>
<body>
<DefaultLayoutComponent client:load>
    <slot/>
</DefaultLayoutComponent>
</body>
</html>
